* {
    border: 0px;
    margin: 0px;
}

.box1 {
    display: grid;
    grid-template-rows: 50px 1fr;
    margin: 30px;
    transition: box-shadow .3s;
}

p {
    grid-row: 1;
    background-color: aqua;
    color: rgb(255, 37, 219);
}

.box2 {
    display: grid;
    grid-template-rows: 200px 170px 1fr 200px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    grid-row: 2;
    background-color: rgb(197, 18, 18);
    height: 800px;
}

.box3 {
    display: grid;
    grid-template-rows: 50px 50px 1px 80px 1px 30px;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(226, 43, 43);
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 50px;
    border-radius: 10px;
    gap: 15px;
    height: 330px;
}

.box4 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: blueviolet;
    width: 810px;
    height: 150px;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.box5 {
    display: grid;
    grid-template-rows: 60px 50px 1fr;
    background-color: blueviolet;
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 810px;
    height: 190px;
    border-radius: 10px;
    margin-left: 40px;
}

.box8 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 4;
}

.box6 {
    display: grid;
    grid-template-rows: 20px 30px 40px;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    width: 300px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.text2 {
    display: flex;
    flex-direction: row-reverse;
}

.box7 {
    display: grid;

    grid-template-rows: 60px 50px 1fr;
    background-color: rgb(43, 226, 43);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    width: 1500px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}


/*segundo input*/
.example-group2 {
    position: relative;
    display: inline-block;
    padding-left: 15px;
}

.example-input2 {
    border: 1px solid blue;
    background: transparent;
    padding: 10px;
    border-radius: 20px;
    padding-left: 46px;
    color: rgb(0, 26, 255);
    width: 110px;
    outline: none;
}

::placeholder {
    color: rgb(0, 26, 255);
}

.input-label2 {
    background-color: blueviolet;
    color: rgb(255, 238, 0);
    font-size: 12px;
    position: absolute;
    left: 60px;
    top: -7px;
    padding: 0 2px;
}

/* */
.text-align {
    margin-left: 30px;
    margin-top: 15px;
}

.example-group {
    position: relative;
    display: inline-block;
    padding-left: 15px;
}

.example-input {
    border: 1px solid blue;
    background: transparent;
    padding: 10px;
    border-radius: 20px;
    padding-left: 46px;
    color: rgb(0, 26, 255);
    width: 710px;
    outline: none;
}

::placeholder {
    color: rgb(0, 26, 255);
}

.input-label {
    background-color: blueviolet;
    color: rgb(255, 238, 0);
    font-size: 12px;
    position: absolute;
    left: 60px;
    top: -7px;
    padding: 0 2px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}


.box1:hover {
    box-shadow: 5px 5px 20px rgb(0, 255, 55);
}

.nombre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align2 {
    display: grid;
    grid-template-columns: 50px 1fr 100px;
    grid-template-rows: 20px 1fr;
    row-gap: 5px;

}

.align3 {
    display: grid;
    grid-template-columns: 50px 1fr 100px;
    grid-template-rows: 20px 20px 1fr;
    row-gap: 5px;

}

.nombre1 {
    grid-column: 2;
}

.nombre2 {
    display: flex;
    justify-content: center;
}

.nombre3 {
    grid-column: 2;
    grid-row: 2;
}

.nombre4 {
    grid-column: 2;
    grid-row: 3;
}

.line {
    width: 830px;
    margin: 0 auto;
    background-color: deeppink;
}